/* You can add global styles to this file, and also import other style files */
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
button{
  padding-right: 10px;
  border-radius: 4px;
  background-color: red;
}
  p{
    font-family: "Fira Sans", Arial, sans-serif;
    color: antiquewhite;
    width: 60px;
    height: 80px;
  }


